<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wrrrrrrry.evaluationteaching.mapper.PublicMessageMapper">
    <select id="selectStudentClassByCode" resultType="org.wrrrrrrry.evaluationteaching.entity.Clazz">
        select c.id,c.name from user
        left join class_student cs on user.id = cs.s_id
        left join class c on cs.cla_id = c.id
        where code = #{code}
    </select>
    <select id="selectTeacherClassByCode" resultType="org.wrrrrrrry.evaluationteaching.entity.Clazz">
        select c.id,c.name from user
        left join course_class_teacher cct on user.id = cct.t_id
        left join class c on cct.cla_id = c.id
        where code = #{code}
    </select>
    <select id="selectStudentCourseByCode" resultType="org.wrrrrrrry.evaluationteaching.entity.Course">
        select c.id,c.name from user
        left join class_student cs on user.id = cs.s_id
        left join course_class_teacher cct on user.id = cct.t_id
        left join course c on cct.course_id = c.id
        where code = #{code}
    </select>
    <select id="selectTeacherCourseByCode" resultType="org.wrrrrrrry.evaluationteaching.entity.Course">
        select c.id, c.name, is_major, is_public from course c
        left join course_class_teacher cct on c.id = cct.course_id
        left join user u on cct.t_id = u.id
        where code = #{code}
    </select>
    <select id="selectPowerAll" resultType="org.wrrrrrrry.evaluationteaching.entity.Power">
        select id, name, is_role as isRole, p_node as pNode, is_end as isEnd from power
    </select>
    <select id="selectClassByName" resultType="org.wrrrrrrry.evaluationteaching.entity.Clazz">
        select id, name, is_public from class
        where name like #{name}
    </select>
    <select id="selectStudentByCode" resultType="org.wrrrrrrry.evaluationteaching.entity.User">
        select user.id, user.name, in_id, code, sex, age, height, addr, intr from user
        left join user_power up on user.id = up.u_id
        left join power p on up.p_id = p.id
        where code like #{code}
        and p.name = 'student'
    </select>
    <select id="selectCourseByName" resultType="org.wrrrrrrry.evaluationteaching.entity.Course">
        select id, name, is_major, is_public from course
        where name like #{name}
    </select>
    <resultMap id="userInfo" type="org.wrrrrrrry.evaluationteaching.entity.User">
        <id property="id" column="uid"/>
        <result property="name" column="uname"/>
        <result property="password" column="password"/>
        <result property="code" column="code"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="height" column="height"/>
        <result property="addr" column="addr"/>
        <result property="intr" column="intr"/>
        <collection property="institute" resultMap="institute"/>
    </resultMap>
    <resultMap id="institute" type="org.wrrrrrrry.evaluationteaching.entity.Institute">
        <id property="id" column="iid"/>
        <result property="name" column="iname"/>
    </resultMap>
    <select id="selectUserByCode" resultMap="userInfo">
        select user.id as uid, user.name as uname, password, i.id as iid,i.name as iname, code, sex, age, height, addr, intr from user
        left join institute i on user.in_id = i.id
        where code like #{code}
    </select>
    <select id="queryInstitute" resultType="org.wrrrrrrry.evaluationteaching.entity.Institute">
        select id, name from institute where name like #{name}
    </select>
    <select id="queryCCT" resultType="java.util.Map">
        select course_class_teacher.id as id, c.name as coursceName, u.name as teacherName, c2.name as className
        from course_class_teacher
        left join course c on course_class_teacher.course_id = c.id
        left join class c2 on c2.id = course_class_teacher.cla_id
        left join user u on course_class_teacher.t_id = u.id
        where c.name like #{s}
    </select>
    <select id="queryALlEByC" resultType="java.util.Map">
        select sT.id as stId, sT.begin_time as beginTime,sT.end_time as endTime,
               q.id as qnId, q.title as qnTitle, q.index_root_id as indicatorRoot
        from class c
        left join course_class_teacher cct on c.id = cct.cla_id
        left join studentToteacher sT on cct.id = sT.mid_id
        left join questionnaire q on sT.qn_id = q.id
        where c.id = #{cId}
    </select>
</mapper>
